<gx-heading>
  <h2>Geexec Dashboard</h2>
</gx-heading>
<hr />
<gx-heading>
  <h3>Colour Palette</h3>
</gx-heading>
<div class="colors-palette">
  <div class="palette blue"></div>
  <div class="palette red"></div>
  <div class="palette green"></div>
  <div class="palette yellow"></div>
  <div class="palette gray"></div>
  <div class="palette purple"></div>
</div>
<gx-heading>
  <h3>Current Theme Set</h3>
</gx-heading>
<div class="colors-palette">
  <div class="palette theme-text"></div>
  <div class="palette theme-text-accent"></div>
  <div class="palette theme-button-color"></div>
  <div class="palette theme-accent-color"></div>
  <div class="palette theme-primary-color"></div>
  <div class="palette theme-secondary-color"></div>
</div>
<gx-heading>
  <h3>Button Palette</h3>
</gx-heading>
<div class="buttons-palette">
  <gx-button [bgColor]="'blue'">Submit</gx-button>
  <gx-button [bgColor]="'red'">Submit</gx-button>
  <gx-button [bgColor]="'yellow'">Submit</gx-button>
  <gx-button [bgColor]="'purple'">Submit</gx-button>
  <gx-button [bgColor]="'gray'">Submit</gx-button>
  <gx-button [bgColor]="'green'">Submit</gx-button>
  <gx-button [bgColor]="'green'" [disabled]="'true'">Submit</gx-button>
</div>
<gx-heading>
  <h3>Form Components</h3>
</gx-heading>
<form>
  <gx-input [type]="'text'" [label]="'Name'" [required]="true"></gx-input>
  <gx-input [type]="'email'" [label]="'Email'" [required]="true"></gx-input>
  <gx-button>Submit</gx-button>
</form>
